#drupport {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.drupport-chat {
    float: right;
    position: relative;
    background: green;
    border: 1px solid #d2d2d2;
    width: 270px;
    margin-right: 20px;
    z-index: 9999;
}

.drupport-chat-header {
    height: 30px;
    background: #3ca0dd;
}

.drupport-chat-header a {
	width: 12px;
	height: 30px;
    float: right;
    position: relative;
}

.drupport-chat-header a:hover {
	opacity: 0.5;	
}

.drupport-chat-close {
	background: url(../images/spr-chat-actions.png) no-repeat -14px;
	right: 5px;
}

.drupport-chat-minimize {
	background: url(../images/spr-chat-actions.png) no-repeat 0 8px;
	left: -12px;
}

.drupport-chat-title {
	float: left;
	color: white;
	padding: 6px;
	font-weight: bold;
}
	
.drupport-chat-content {
    height: 326px;
    overflow: auto;
    background: white;
    color: black;
}

.drupport-chat-content ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

#drupport-buddy-list-wrapper ul li,
.drupport-chat-content ul li,
.drupport-chat-ajax-wrapper {
	padding: 5px 7px !important;
}

.drupport-chat-content ul li span.time {
	text-align: right;
	display: block;
	font-size: 0.7em;	
}

.drupport-buddylist .drupport-chat-content {
    height: 356px;
}

.drupport-chat-message,
.drupport-chat-user {
    margin-bottom: 5px;
}

#drupport-support-request-form input[type=text] {
	width: 96%;
}

#drupport-support-request-form textarea {
	width: 100%;
}

.drupport-chat-form form {
    margin: 0;
    padding: 0;
}

.drupport-chat-form {
    height: 30px;
    background: gray;
    border-top: 1px solid #d2d2d2;
}

.drupport-chat-form .form-item {
	margin: 0;
}

.drupport-chat-form .element-invisible,
.drupport-chat-form .hidden,
#drupport .hidden {
	display: none;
}

.drupport-chat-form textarea.disabled {
	background-color: #d2d2d2;
}

.drupport-chat-form form textarea {
    height: 30px;
    border: none;
    resize: none;
    padding: 3%;
    outline: none;
    overflow: hidden;
}

.drupport-buddy-list{
	
}

.drupport-chat-user{
	margin : 1px;
}

.drupport-chat-user .chat-state {
	width: 10px;
	height: 10px;
	display: block;
	float: right;
	position: relative;
	top: 4px;	
}

.drupport-chat-user .chat-state.pending {
	background: url(../images/spr-chat-states.png) no-repeat 0 0;
}

.drupport-chat-user .chat-state.open {
	background: url(../images/spr-chat-states.png) no-repeat -11px 0;
}

.drupport-chat-user:hover{
	background-color: #d2d2d2;
}

.drupport-dialog-confirm{
/* 	visibility: hidden; */
}